/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* * {
  outline: 1px solid #000;
} */
img {
  max-width: 100%;
  height: auto;
}
body {
  background: #1e1e1e;
  color: #ffffff;
  font-family: "Noto Sans TC", sans-serif;
}
a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  max-width: 1920px;
  background: #1e1e1e;
  margin: 0 auto;
}
.wrap {
  max-width: 1296px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding: 20px 0;
}
.logo1 {
  width: 25%;
}
.logo1 img {
  display: block;
}
.menu {
  display: flex;
  align-items: center;
}
.menu li {
  font-weight: 700;
  padding: 0 20px;
}
.title {
  font-weight: 900;
  font-size: 120px;
  line-height: 120%;
  padding: 40px 0;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
.botton a {
  display: block;
  font-weight: 900;
  font-size: 20px;
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 20px 40px;
}
.span1 {
  display: flex;
  padding: 100px 0 0 0;
}
.service {
  display: flex;
  justify-content: space-between;
}
.service-title {
  width: 32%;
  font-weight: 900;
  font-size: 32px;
}
.service-intro {
  width: 68%;
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  padding: 0 0 80px 0;
}
.service-list {
  display: flex;
  justify-content: space-between;
  padding: 0 0 160px 0;
}
.service-content {
  width: 32%;
  border: 1px solid #525252;
  border-radius: 16px;
}
.service-content img {
  padding: 80px 0 20px 40px;
}
.service-content h2 {
  font-weight: 900;
  font-size: 32px;
  padding: 0 0 20px 40px;
}
.service-content p {
  line-height: 150%;
  padding: 0 40px 80px 40px;
}
.comment {
  display: flex;
  justify-content: space-between;
  padding: 0 0 160px 0;
}
.comment-card {
  width: 32%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.comment-content {
  padding: 0 40px 20px 40px;
  flex-grow: 2;
}
.comment-content p {
  padding: 0 0 10px 0;
  line-height: 150%;
}
.star {
  padding: 40px 0 22px 40px;
}
.user {
  display: flex;
  padding: 20px 0 40px 40px;
}
.user-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
  padding: 0 0 0 16px;
}
.user-name h3 {
  padding: 0 0 2px 0;
}
.user-name p {
  text-align: left;
}
.user-img img {
  vertical-align: middle;
}
.from-parnter {
  font-weight: 900;
  font-size: 32px;
  padding: 0 0 80px 0;
}
.parnter-list1 {
  display: flex;
  padding: 0 20px 20px 20px;
}
.parnter-list2 {
  display: flex;
  padding: 20px 20px 160px 20px;
}
.container-white {
  width: 100%;
  background: #ffffff;
  border-radius: 100px;
  color: #020202;
  /* margin: 0 auto; */
}
.tool-title {
  font-weight: 900;
  font-size: 80px;
  padding: 160px 0 80px 0;
}
.search-bar {
  background: #f2f2f2;
  border-radius: 16px;
  margin: 0 0 24px 0;
  /* padding: 20px 0; */
  position: relative;
}
.search-bar input {
  outline-style: none;
  border-radius: 16px;
  border: 0px;
  padding: 20px 0 20px 70px;
  background: #f2f2f2;
}
.search-bar img {
  position: absolute;
  top: 20px;
  left: 40px;
}
.search-tag {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
}
.filter {
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  padding: 20px 40px;
  display: flex;
  position: relative;
  margin-bottom: 40px;
}
.filter span {
  position: absolute;
  top: 15px;
  right: 15px;
}

.search-menu {
  display: flex;
}
.search-menu a {
  display: block;
  color: #919191;
  padding: 8px 16px;
  margin-top: 12px;
}
.search-menu a:hover {
  background: #f2f2f2;
  color: #020202;
  font-weight: 700;
  border-radius: 16px;
}
.sort {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  padding: 20px 40px;
  margin-bottom: 40px;
  position: relative;
}
.sort span {
  position: absolute;
  top: 15px;
  right: 15px;
}
.tool-board {
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tool-card {
  width: 32%;
  /* margin: 0 auto; */
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  margin-bottom: 24px;
}
.tool-img {
  overflow: hidden;
}
.tool-img img {
  width: 100%;
  vertical-align: middle;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* transform: scale(1.2);*/
  transform: scale(1, 1);
  transition: all 1s ease-out;
  /* border-radius: 10px; */
}
.tool-img img:hover {
  transform: scale(1.2);
}
.tool-name {
  display: flex;
  justify-content: space-between;
}
.tool-class {
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tool-class p {
  width: 100px;
  padding: 20px;
  margin-left: 12px;
}
.tool-class .largebox {
  width: 120px;
}
.tool-class span {
  width: 100px;
  width: 18px;
  color: #020202;
  padding: 20px;
  margin-right: 40px;
}
.tool-intro {
  border-bottom: 1px solid #f2f2f2;
  /* flex-grow: 2; */
}
.tool-intro .newline {
  margin-bottom: 48px;
}
.tool-intro h2 {
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  padding: 6px;
  margin: 14px 26px auto 26px;
}
.tool-intro p {
  font-size: 14px;
  line-height: 21px;
  color: #525252;
  padding: 6px;
  margin: auto 14px 26px 26px;
  /* flex-grow: 3; */
}
.tool-name {
  border-bottom: 1px solid #f2f2f2;
}

.tool-name h2 {
  font-weight: 700;
  padding: 20px;
  margin-left: 12px;
}
.tool-name p {
  width: 100px;
  text-align: center;
  padding: 20px;
  margin-left: 12px;
}
.page {
  display: flex;
  justify-content: end;
  font-weight: 700;
  font-size: 14px;
  padding: 40px 0 160px 0;
}
.page {
  position: relative;
  display: flex;
}
/* .page span {
  margin-right: 4px;
  padding: 20px 20px;
  border-radius: 16px;
  
} */
.page a {
  display: block;
  padding: 20px 20px;
  border-radius: 16px;
  /* padding: 20px 20px; */
  margin-right: 4px;
  color: #020202;
}
/* .arrorw:hover {
  background: #ffffff;
} */
.page a:hover {
  background: #020202;
  color: #ffffff;
}
.page img {
  position: absolute;
  top: 60px;
  right: 10px;
}
.price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ffffff;
}
.start-use {
  padding: 160px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.start-use h2 {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  padding: 0 0 40px 0;
}
.start-use a {
  display: block;
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 20px 40px;
  width: 15%;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin-bottom: 160px;
}
.start-use img {
  position: absolute;
  bottom: 220px;
  left: 695px;
}
.homepage-price {
  line-height: 120%;
  font-weight: 900;
  font-size: 80px;
  padding: 80px 0;
}
.logo2 {
  padding: 80px 0 0 0;
  width: 15%;
}
.footer {
  border-top: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  padding: 32px 0;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.copyright {
  width: 30%;
}
.sns {
  display: flex;
  /* justify-content: space-around; */
  width: 69%;
}
.sns li {
  padding-right: 20px;
}
.back-to-top {
  display: flex;
  justify-content: end;
  width: 50%;
}
.back-to-top p {
  padding-right: 12px;
}
